<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
	<targets>
		<target name="logfile" xsi:type="File" fileName="${gdc:item=LogPath}\${shortdate}.txt"
		layout="${longdate}	||	${level:uppercase=true}	||	${logger}	||	${message}"
		archiveFileName="${gdc:item=LogPath}/Archive/${shortdate}.{#}.txt"
		archiveEvery="Day"
		maxArchiveFiles="31"
		archiveNumbering="Sequence"
		/>  <!-- archiveNumbering : {#}에 들어갈 규칙 설정 -->
		
		<!-- Error 로그는 따로 관리할 수도 있음.(보류) -->
		<target name="logfile_Error" xsi:type="File" fileName="${gdc:item=LogPath}\${shortdate}_Error.txt"/>
	</targets>
 
	<rules>	
		<logger name="SangwhaLoger" minlevel="Trace" writeTo="logfile" />	<!-- LogManager.GetLogger("logfile"); -->
		
		 <!-- 보류. 사용시 "SangwhaLoger_ -> SangwhaLoger" 변경-->
		<logger name="SangwhaLoger_" minlevel="Error" writeTo="logfile_Error" />
	</rules>
</nlog>